@media screen and (min-width:0px) and (max-width:400px) {
    body {
        background-color: red;
    }

}

@media screen and (min-width:401px) and (max-width:600px) {
    body {
        background-color: rgb(192, 181, 33)
    }

}

@media screen and (min-width:0) and (max-width:990px) {

    .header .container .list,
    .header .container .search_form {
        display: none;
    }
}

@media screen and (min-width:0) and (max-width:990px) {
    .container .menu {
        display: flex;
    }
}

@media screen and (min-width:0) and (max-width:990px) {

    .footer .container .footer-left-side,
    .footer .container .footer-rigth-side {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer .footer_item {
        width: 100%;
    }
}